/* Base Styles */
body {
  background-color: #19181c;
  height: 100vh;
  margin: 0;
  font-family: 'Arial', sans-serif;
  position: relative;
  overflow: hidden;
}

/* Background Image */
.background-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.7);
  z-index: 0;
  pointer-events: none;
  max-width: 100%;
}

/* Top-Left Icon */
.top-left-icon {
  position: absolute;
  top: 20px;
  left: 30px;
  width: 120px;
  height: auto;
  z-index: 10;
  cursor: pointer;
}

/* Horizontal Line */
.horizontal-line {
  position: absolute;
  top: 100px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: white;
  z-index: 5;
}

/* Header Text */
.site-header {
  position: absolute;
  top: 130px;
  left: 50%;
  transform: translateX(-50%);
  color: #e790de;
  font-size: 36px;
  text-align: center;
  z-index: 10;
}

/* Discord Button */
.reactive-button {
  width: 120px;
  height: 120px;
  background-color: #9b5093;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
  cursor:
